body {
    background: #0E2A47;
}

.bg {
    background-image: url(ImgSesion/a4a3c0d61c946b5d02afb25df5c295eb-image-1024x768-crop.jpeg);
    background-position: center center;
}

.nav-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
}

.navbar {
    box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
}


